@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p> The <b>default values</b> for <b>URL</b> is, as its placeholder states it, <b>"www.sympli.com.au"</b> and the default value for the <b>Key</b> field is <b>"online title search"></b></p>
<p> To <b>change he crawler engine</b>, just add the right <b>dll</b> in the <b>WebCrawlerEngines folder</b>, from the bin folder of the site, and add it's <b>settings</b>, if it needs some, in <b>Web.config</b>. And that's it, you're good to go."</p>
