@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    15 Wenworth St. Manly<br />
    NSW, 2095<br />
    <abbr title="Phone">P:</abbr>
    04 1419 2518
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:liviu.duma@gmail.com">liviu.duma@gmail.com</a><br />
</address>